[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
TA-Lib = "*"
pandas = "*"
matplotlib = "*"
mplfinance = "==0.12.7a17"
websocket-client = "*"
influxdb = "*"
python-dotenv = "*"
jupyterlab = "*"
python-binance = "*"

[dev-packages]

[requires]
python_version = "3.7"
